.input {    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;

    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px 0px;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inputBox {
    position: relative;
    margin: 35px 0px;
}

.fieldset {
    border: 3px solid dodgerblue;
}
.textal-center {
    text-align: center;
}

legend {
    margin: auto;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.labelInput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;

}

.input:focus~.labelInput,
.input:valid~.labelInput {
    top: -15px;
    font-size: 12px;
    color: dodgerblue;
}

.rangeDiv {
    position: relative;
    padding-top: 25px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.rangeInput {
    width: 100%;
    margin-right: 8px;
    background: white;
    border-radius: 15px;
}

.labelNota {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}

.radioDiv {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.valor {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.jaFomos {
    padding: 0px;
    margin: 0px;
}

.txtarea {
    width: 90%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-block: 20px;

}
.txtarea:focus {
    outline: none;
    border: 3px solid dodgerblue;
}