/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    background-color: darkslateblue;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.imagem {
    width: 25px;
}

.principal {
    margin: auto;
    max-width: 90vw;
}

.conteudo {
    min-height: 100vh;
    position: relative;
}

/* ICONE VOLTAR */

.voltar {
    text-decoration: none;
    display: inline-block;
    margin: 20px 0 0 20px;
}

#icon-voltar {
    font-size: clamp(30px, 5vw, 55px);
    vertical-align: middle;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
}

/* AVISOS */

.sucesso {
    background-color: #4CAF50;
    color: white;
    width: 75%;
    padding: 15px;
    margin: 5px auto;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.erro {
    background-color: rgba(100, 0, 0, 0.6);
    color: white;
    width: 75%;
    padding: 15px;
    margin: 5px auto;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* CONTAINERS */

.centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 40px));
}

.marginMeio {
    margin: 20px auto;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 20px;
    color: white;
    min-width: 250px;
    z-index: 1;
}

/* LOGIN/CADASTRO */

.login {
    padding: 10px 80px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.cadastro {
    padding: 10px 60px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.linkCadastro {
    display: block;
    padding: 5px 0px;
    margin-top: 5px;
    text-align: end;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.linkCadastro:hover {
    text-decoration: underline;
}

/* BOTOES*/

.botao {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.botao:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

.botoes {
    margin-top: 25px;
    text-align: center;
    display: block;
}

.bt {
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: 18px;
    min-width: 320px;
    padding: 18px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    background-color: #5301c5
}

.bt:hover,
.bt:active {
    background: #4d1ca3;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
}

/* LOADING SPIN */
.loading-container {
    text-align: center;
    margin: 40px 0;
}

.loading-icon {
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #6200ee;
    border-radius: 50%;
    margin: 20px auto;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Icone */

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button img {
    width: 20px;
    height: 20px;
}

/* TEXTO */

.titulo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 28px;
}

.tituloSobre {
    color: black;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.paragrafo {
    color: white;
    text-align: center;
}

.texto {
    color: black;
    padding-inline: 15px;
}
.lista-texto {
    color: black;
}

.linkSobre {
    color: rgb(0, 132, 255);
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

.linkSobre:hover {
    text-decoration: underline;
}

/* ESPECIAIS */

.marginBt {
    margin-bottom: 35px;
}

/* MEDIA QUERIES*/


@media (max-width: 767px) {
    .container {
        width: 75%;
    }
    .lista-texto,
    .tituloSobre,
    .texto {
        color: white;
    }
}


/* PC / NOTEBBOK */
@media (min-width: 768px) {
    .container {
        width: 580px;
    }

    .sucesso,
    .erro {
        width: 580px;
    }

    .sobre {
        max-width: 500px;
        margin: auto;
        background-color: white;
        padding: 15px;
        margin-block: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}